<div id="blacktextblock" class="product-block{% unless product.available %} sold-out{% endunless %}{% if on_sale %} on-sale{% endif %} caption-{{ section.settings.coll_captionmode }} layout-right {{ product_class }}" data-loop-index="{{forloop.index}}">

    <div class="blacktextblock-content">
Be seduced, be wanted, make a statement, excite, live, thrive - burn bright. For the muses and the mistresses, the statement makers, the lovers. Inspired by legends, sported by heroines. Go forth and conquer.

<br/><br/>


Somi Han London is a premium atelier, presenting a collective of masterfully designed styles to titillate, celebrate and please the lady who knows exactly what she wants. A tidy collection drops every 8-weeks. Twenty-one bespoke looks to entice and excite, tempt and thrill. Draw in and please. To have me or not to have me - that is the question. Justify your love. Immerse yourself in your desires. Fan the flames. Let yourself go. Chase the thrill. And don’t look back.
    </div>
</div>

{% if product_class contains 'quarter' %}
    {% cycle 'products': '','','','<div id="black" class="er"></div>' %}
    {% cycle 'products': '','','','<div id="black" class="er"></div>' %}
    {% cycle 'products': '','','','<div id="black" class="er"></div>' %}
{% endif %}
