{% assign related_product_count = 99 %}

{% assign show_related = false %}
{% capture related_markup %}

{% assign product_collection = collection %}
{% unless product_collection %}{% assign need_new_collection = true %}{% else %}{% assign need_new_collection = false %}{% endunless %}
  {% if need_new_collection or product_collection.handle == 'all' or product_collection.handle contains 'frontpage' %}
  {% for coll in product.collections %}
    {% unless coll.handle == 'all' or coll.handle contains 'frontpage' %}
      {% assign product_collection = coll %}
    {% endunless %}
  {% endfor %}
{% endif %}

{% assign product_class = 'column quarter' %}
<hr style="width:60%;margin:5em auto 5em auto;"/>
<div class="section-upper-title"> 
  <h4>BE</h4>
  <h1>TEMPTED</h1>
</div>
    
<div class="wide-container double-gutter">
  <div class="product-list sm-related">
    {% assign product_limit_plus_one = related_product_count | plus: 1 %}
    {% assign product_iter = 1 %}
    {% for related_product in product_collection.products limit: product_limit_plus_one %}
    {% if product.handle != related_product.handle and product_iter < product_limit_plus_one %}
    {% include 'product-block' with related_product, product: related_product, collection: product_collection %}
    {% assign show_related = true %}
    {% assign product_iter = product_iter | plus: 1 %}
    {% endif %}
    {% endfor %}

{% comment %}    {% assign product_limit_plus_one = related_product_count | plus: 1 %}
    {% assign product_iter = 1 %}
    {% for related_product in product_collection.products offset:index limit:4 %}
    {% if product.handle != related_product.handle and product_iter < product_limit_plus_one %}
    {% include 'product-block' with related_product, product: related_product, collection: product_collection %}
    {% assign show_related = true %}
    {% assign product_iter = product_iter | plus: 1 %}
    {% endif %}
    {% endfor %}{% endcomment %}



{% comment %}<div id="showcase">
{% if collections.frontpage.products.size > 0 %}

{% capture index %}{{ 'now' | date: '%S' | times: collections.frontpage.products.size | divided_by: 60 }}{% endcapture %}
{% for product in collections.frontpage.products offset:index limit:1 %}


  {% endfor %}
{% else %}
  <p>
    <a href="/admin/custom_collections">
      Add a product to the "frontpage" collection to see it here...
    </a>
  </p>
{% endif %}
</div>{% endcomment %}




  </div>
</div>

{% endcapture %}
{% if show_related %}{{ related_markup }}{% endif %}
