<svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
  <title>Menu</title>
  <path d="M0 0h24v24H0z" fill="none"/>
  <path class="menu-path-1" d="m 3,18 18,0 0,-2 -18,0 0,2 z" />
  <path class="menu-path-2" d="m 3,13 18,0 0,-2 -18,0 0,2 z" />
  <path class="menu-path-3" d="M 3,6 3,8 21,8 21,6 3,6 Z" />
</svg>