<svg width="66px" height="42px" viewBox="0 0 66 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>GooglePlus</title>
    <defs></defs>
    <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Black" transform="translate(-726.000000, -298.000000)" fill="#000000">
            <path d="M784.735849,315.257426 L784.735849,307.980198 L779.54717,307.980198 L779.54717,315.257426 L772.075472,315.257426 L772.075472,320.455446 L779.54717,320.455446 L779.54717,327.940594 L784.735849,327.940594 L784.735849,320.455446 L792,320.455446 L792,315.257426 L784.735849,315.257426 L784.735849,315.257426 Z M746.962264,314.841584 L746.962264,323.158416 C746.962264,323.158416 755.015925,323.147604 758.29517,323.147604 C756.519396,328.539198 753.758189,331.475248 746.962264,331.475248 C740.084774,331.475248 734.716981,325.889871 734.716981,319 C734.716981,312.110129 740.084774,306.524752 746.962264,306.524752 C750.598491,306.524752 752.946887,307.805129 755.101019,309.589713 C756.825321,307.862307 756.681283,307.616129 761.068208,303.465822 C757.344189,300.070059 752.394604,298 746.962264,298 C735.385075,298 726,307.40197 726,319 C726,330.597822 735.385075,340 746.962264,340 C764.266925,340 768.496528,324.90495 767.09434,314.841584 L746.962264,314.841584 L746.962264,314.841584 Z" id="GooglePlus"></path>
        </g>
        <g id="Credit" transform="translate(-1818.000000, -475.000000)"></g>
    </g>
</svg>