<div class="page-footer">
{% comment %}  {% if section.settings.link_list != blank %}
  <div class="nav footer-nav">
    <ul>
      {% for link in linklists[section.settings.link_list].links %}
      <li>{{ link.title | link_to: link.url }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}{% endcomment %}
  
  {% include 'social-links' %}

  <div class="copyright" role="contentinfo">


<div class="sh-footer-left">
<span class="shop">&copy; {{ "now" | date: "%Y" }} {{ shop.name | link_to: '/'  }} - </span> <a href="/pages/contact">Contact Us</a>

  </div>
<div class="sh-footer-right">
<a href="/pages/returns">Returns</a> | 
<a href="/pages/about">About Somi</a> |
<a href="/pages/careers">Careers</a>
  </div>

  </div>

</div>


{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "link_list",
        "label": "Menu",
    "default": "footer"
      }
  ]
  }
{% endschema %}
