<div class="central">
  <div class="content {% unless settings.coll_content_bg_show %}transparent{% endunless %}">
    <h1 class="feature-header large-heading">
      {{ 'collections.listing.title' | t }}
    </h1>
  </div>
</div>

{% section 'list-collections-template' %}
